.detailsmain {
  background-color: white;
  width: 450px;
  height: 370px;
  border: 1px solid rgb(216, 215, 215);
  padding: 0px;
  margin: 10px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
  font-family: Geneva;
  font-weight: bolder;
  font-size: 16px;
}

.imageholder {
  height: 150px;
  overflow: hidden;
}

.deskimage {
  width: 100%;
  object-fit: cover;
  transform: translateY(-25%);
}

.details {
  padding-left: 20px;
  padding-top: 10px;
}

.cell {
  padding: 10px;
  font-family: Geneva;
  font-weight: normal;
  font-size: 12px;
}

.icon {
  width: 20px;
  height: 20px;
}
