div {
  font-family: Palatino;
}

.main {
  background-color: rgb(248, 248, 248);
  width: 500px;
  border: 2px solid rgb(180, 180, 180);
  padding: 10px;
  margin: 10px;
  height: 370px;
}

.post {
  background-color: rgb(248, 248, 248);
  width: 425px;
  height: 100px;
  border: 2px solid rgb(180, 180, 180);
  padding: 10px;
  margin: 10px;
}

.postsholder {
  padding: 10px;
  overflow: auto;
}

.posts {
  height: 240px;
}
